@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  overflow: hidden;
  display: none;
}

html {
  scroll-behavior: smooth;
}

.admin-page {
  overscroll-behavior-y: contain;
  overflow-x: hidden;
  background: #eee;
  font-size: 16px;
  width: 100%;
  height: 100vh;
}

h3, h4, h2, label {
  font-family: "Raleway", sans-serif;
  color: rgb(240, 240, 240);
  font-weight: 500;
}

li::marker {
  font-size: 0vw;
}

.admin-page .blocks {
  display: grid;
  grid-template-columns: 30% 15% 30%;
  grid-template-rows: auto;
  gap: 3%;
  margin-top: 10%;
  justify-content: center;
}
@media only screen and (min-width: 320px) and (max-width: 768px) {
  .admin-page .blocks {
    grid-template-columns: 65%;
  }
}
.admin-page .blocks #title {
  padding-top: 2%;
}
.admin-page .blocks .add {
  position: relative;
  padding: 2% 0% 0% 5%;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  width: 100%;
  height: 100%;
  background: #171717;
}
.admin-page .blocks .add h3 {
  font-family: "Raleway", sans-serif;
  color: rgb(255, 255, 255);
  font-weight: 500;
  font-size: clamp(12px, 1vw, 16px);
}
.admin-page .blocks .add .type {
  text-align: left;
  padding-top: 2%;
  font-family: "Raleway", sans-serif;
  color: rgb(255, 255, 255);
  font-weight: 500;
}
.admin-page .blocks .add .profil::marker {
  font-size: 0vw;
}
.admin-page .blocks .add .profil {
  text-align: left;
  padding-top: 5px;
  padding-top: 2%;
  font-family: "Raleway", sans-serif;
  color: rgb(255, 255, 255);
  font-weight: 500;
}
.admin-page .blocks .add ul::marker {
  padding-top: 1%;
  font-size: 0rem;
}
.admin-page .blocks .add .name-stats {
  padding: 1vw;
  display: list-item;
  font-family: "Raleway", sans-serif;
  color: rgb(255, 255, 255);
  font-weight: 500;
}
.admin-page .blocks .add button {
  margin: 1vw;
  position: relative;
  top: 0%;
  justify-content: center;
  align-items: center;
  border: none;
  background: rgb(9, 134, 218);
  font-family: "Raleway", sans-serif;
  color: rgb(255, 255, 255);
  font-weight: 500;
  color: #f1f1f1;
  font-size: clamp(12px, 1vw, 16vw);
  text-align: center;
  padding: 1vw;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  transition: 0.2s all ease-in-out;
  -webkit-transition: 0.2s all ease-in-out;
  -moz-transition: 0.2s all ease-in-out;
  -ms-transition: 0.2s all ease-in-out;
  -o-transition: 0.2s all ease-in-out;
}
.admin-page .blocks .add button:hover {
  background: rgb(0, 67, 155);
  transition: 0.2s all ease-in-out;
  -webkit-transition: 0.2s all ease-in-out;
  -moz-transition: 0.2s all ease-in-out;
  -ms-transition: 0.2s all ease-in-out;
  -o-transition: 0.2s all ease-in-out;
}
.admin-page .blocks .delete {
  position: relative;
  padding: 4% 0% 0% 0%;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  width: 100%;
  height: 100%;
  background: #171717;
}
.admin-page .blocks .delete h3 {
  color: #f1f1f1;
  font-size: clamp(12px, 1.5vw, 24px);
}
.admin-page .blocks .delete ul {
  font-size: clamp(12px, 1vw, 19px);
  padding-top: 5%;
  font-family: "Raleway", sans-serif;
  color: rgb(255, 255, 255);
  font-weight: 500;
}
.admin-page .blocks .delete button {
  margin: 1%;
  padding: 2%;
  position: relative;
  border: none;
  background: rgb(9, 134, 218);
  font-family: "Raleway", sans-serif;
  color: rgb(255, 255, 255);
  font-weight: 500;
  color: #f1f1f1;
  font-size: clamp(12px, 1vw, 19px);
  text-align: center;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  transition: 0.4s all ease-in-out;
}
.admin-page .blocks .delete button:hover {
  background: rgb(0, 67, 155);
  transition: 0.2s all ease-in-out;
  -webkit-transition: 0.2s all ease-in-out;
  -moz-transition: 0.2s all ease-in-out;
  -ms-transition: 0.2s all ease-in-out;
  -o-transition: 0.2s all ease-in-out;
}
.admin-page .upload-btns {
  padding-top: 2%;
  justify-content: center;
  position: relative;
}
.admin-page .upload-btns .add-forms {
  width: 100%;
  height: 100%;
  justify-content: center;
  background: #171717;
  border-radius: 15px;
  position: relative;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
.admin-page .upload-btns .add-forms h4 {
  margin: 0%;
  font-family: "Raleway", sans-serif;
  color: rgb(255, 255, 255);
  font-weight: 500;
  font-size: clamp(12px, 1.3vw, 24px);
}
.admin-page .upload-btns .add-forms #input-title {
  margin-top: 5%;
  height: 2vw;
  padding: 1%;
  width: 60%;
  height: auto;
  font-size: clamp(12px, 1vw, 16px);
}
.admin-page .upload-btns .add-forms input::-moz-placeholder {
  font-size: clamp(12px, 1vw, 16px);
}
.admin-page .upload-btns .add-forms input:-ms-input-placeholder {
  font-size: clamp(12px, 1vw, 16px);
}
.admin-page .upload-btns .add-forms input::placeholder {
  font-size: clamp(12px, 1vw, 16px);
}
.admin-page .upload-btns .add-forms #input-link {
  margin: 2%;
  height: 2vw;
  padding: 1%;
  width: 60%;
  height: auto;
}
.admin-page .upload-btns .add-forms button {
  position: relative;
  font-size: clamp(12px, 1vw, 16px);
  margin: 1%;
  width: 5vw;
  height: auto;
  font-family: "Raleway", sans-serif;
  color: #111;
  text-decoration: none;
}
.admin-page .show-quiz {
  justify-content: center;
  position: relative;
  display: grid;
  grid-template-columns: 30% 30%;
  gap: 10% 2%;
  padding-top: 5%;
}
@media only screen and (min-width: 320px) and (max-width: 768px) {
  .admin-page .show-quiz {
    grid-template-columns: 65%;
    padding-top: 10%;
  }
}
.admin-page .show-quiz .temp {
  background: #171717;
  padding: 0.5vw;
  position: relative;
  transition: 0.4s all ease-in-out;
}
.admin-page .show-quiz .temp a {
  justify-content: center;
  align-items: center;
  font-family: "Raleway", sans-serif;
  color: #fff;
  text-decoration: none;
}
.admin-page .show-quiz .temp:hover {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  transition: 0.4s all ease-in-out;
  background: #fff;
  -webkit-transition: 0.4s all ease-in-out;
  -moz-transition: 0.4s all ease-in-out;
  -ms-transition: 0.4s all ease-in-out;
  -o-transition: 0.4s all ease-in-out;
}
.admin-page .show-quiz .temp:hover a {
  color: #111;
}/*# sourceMappingURL=style.css.map */